# compiled output
/dist
/node_modules

# logs
/logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# tests
/coverage

# env
.env
.env.local
.env.*.local

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# vitest
.vitest-cache
